@import "tailwindcss";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/forms";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sofia-pro: "Sofia Pro", sans-serif;
  --animate-shimmer: shimmer 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  /* Brand Colors */
  --color-brand-50: #f0faff;
  --color-brand-300: #7cd9fd;
  --color-brand-500: #0170a3;
  --color-brand-600: #055e87;

  --color-surface: #f9fafb;
  --color-secondary: #6a7282;
}

.dark {
  --color-brand-50: #f0faff;
  --color-brand-300: #7bd9fe;
  --color-brand-500: #0bafec;
  --color-brand-600: #008dc9;

  --color-surface: #030712;
  --color-secondary: #e5e7eb;
}

@keyframes shimmer {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@layer base {
  :root {
    @apply font-sofia-pro text-black dark:text-gray-50;
  }

  html {
    @apply overflow-y-scroll;
  }

  body {
    @apply bg-surface;
  }

  .shimmer {
    @apply animate-shimmer;
    @apply bg-gray-300;
    @apply dark:bg-gray-600;
  }

  .menu-item {
    @apply m-2 block cursor-pointer rounded-lg px-2 py-1.5 text-sm text-gray-700 dark:text-gray-200;
  }

  .linkify a {
    @apply text-brand-500;
    @apply hover:text-brand-600 dark:hover:text-brand-500;
  }

  ::-webkit-file-upload-button {
    @apply mr-2 cursor-pointer rounded-l-xl border-0 px-3 py-2;
    @apply bg-gray-200 dark:bg-gray-900;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .label {
    @apply mb-1 font-medium text-gray-800 dark:text-gray-200;
  }

  .dropdown-active {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .focusable-dropdown-item[data-focused] {
    @apply bg-gray-200 dark:bg-gray-700;
  }

  .divider {
    @apply border-b border-gray-200 dark:border-gray-800;
  }

  .ProseMirror {
    p {
      word-break: break-word;
      @apply not-last:mb-4;
    }

    & a,
    span[data-mention="account"],
    span[data-mention="group"] {
      @apply text-brand-500;
    }

    & .prosekit-virtual-selection {
      background-color: transparent;
      box-shadow: none;
    }

    & .prosekit-placeholder::before {
      content: attr(data-placeholder);
      @apply absolute top-[0.5px] pointer-events-none opacity-50;
    }
  }

  /** CSS overrides for plyr audio **/
  .plyr__progress__buffer {
    @apply !bg-white;
  }

  .plyr--audio .plyr__controls {
    @apply !bg-transparent !text-white;
  }

  .plyr--audio .plyr__control {
    @apply hover:!bg-transparent;
  }

  .plyr--audio.plyr--full-ui input[type="range"] {
    @apply !text-white;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  /* Markup styles */
  .markup > p,
  ul {
    word-break: break-word;
    @apply leading-[26px] list-disc;
    @apply [&:not(:last-child)]:mb-3;
  }

  .markup > hr {
    @apply border-gray-200 dark:border-gray-800;
    @apply mb-3;
  }

  .full-page-post-markup > p,
  ul {
    @apply text-[15px] sm:text-[17px];
    @apply !leading-7 sm:leading-[26px];
    @apply [&:not(:last-child)]:mb-3 sm:[&:not(:last-child)]:mb-4;
  }

  .virtual-divider-list-window {
    @apply [&>div]:divide-y;
    @apply [&>div]:divide-gray-200 dark:[&>div]:divide-gray-800;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .left-dash {
    position: relative;
    padding: 1px;
  }

  .left-dash::after {
    position: absolute;
    inset: 0 auto 0 0;
    width: 1px;
    content: "";
    background-color: currentColor;
    mask:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='100%25'%3E%3Cline x1='0' y1='0' x2='0' y2='100%25' stroke='black' stroke-width='1' stroke-dasharray='6%2c8' stroke-linecap='square'/%3E%3C/svg%3E")
      no-repeat right top / 1px 100%;
  }

  .twitter-tweet {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%231da1f2%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: bottom 0.5rem right 0.5rem;
    background-size: 1.25rem 1.25rem;
    @apply border border-gray-200 dark:border-gray-800 rounded-xl p-4;
  }

  .twitter-tweet p {
    @apply mb-2;
  }

  .twitter-tweet a {
    @apply text-brand-500;
  }
}
