@import "tailwindcss";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/forms";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sofia-pro: "Sofia Pro", sans-serif;
  --animate-shimmer: shimmer 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --vvh: 100vh;

  /* Brand Colors */
  --color-brand-50: #f0faff;
  --color-brand-300: #0bafec;
  --color-brand-400: #008dc9;
  --color-brand-500: #0170a3;
  --color-brand-600: #055e87;
  --color-brand-700: #0b4e6f;

  --color-surface: #f4f4f6;
  --color-on-surface: #000000;
  --color-secondary: #6a7282;
  --color-border: #e5e7eb;
  --color-card: #ffffff;
  --color-accent: oklch(87.2% 0.01 258.338 / 0.2);
  --color-muted: rgba(0, 0, 0, 0.3);
}

.dark {
  --color-brand-50: #b9e9fe;
  --color-brand-300: #7bd9fe;
  --color-brand-400: #36c6fa;
  --color-brand-500: #0bafec;
  --color-brand-600: #008dc9;
  --color-brand-700: #0170a3;

  --color-surface: #030712;
  --color-on-surface: #f9fafb;
  --color-secondary: #d1d5dc;
  --color-border: #1e2939;
  --color-card: #101828;
  --color-muted: rgba(249, 250, 251, 0.3);
}

@keyframes shimmer {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes marqueeScroll {
  to {
    transform: translate3d(0, 0, 0);
  }
}

@layer base {
  html {
    @apply font-sofia-pro text-on-surface;
    @apply overflow-y-scroll;
  }

  body {
    @apply bg-surface;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply text-brand-500;
  }

  input,
  textarea,
  div[contenteditable="true"] {
    @apply caret-brand-500;
  }
}

@layer components {
  .shimmer {
    @apply animate-shimmer;
    @apply bg-gray-300;
    @apply dark:bg-gray-600;
  }

  .menu-item {
    @apply m-2 block cursor-pointer rounded-lg px-2 py-1.5 text-sm text-gray-700 dark:text-gray-200;
  }

  .linkify a {
    @apply text-brand-500;
    @apply hover:text-brand-600 dark:hover:text-brand-500;
  }

  ::-webkit-file-upload-button {
    @apply mr-2 cursor-pointer rounded-l-xl border-0 px-3 py-2;
    @apply bg-gray-200 dark:bg-gray-900;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .label {
    @apply mb-1 font-medium text-gray-800 dark:text-gray-200;
  }

  .dropdown-active {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .focusable-dropdown-item[data-focused] {
    @apply bg-gray-200 dark:bg-gray-700;
  }

  .divider {
    @apply border-b border-border;
  }

  .ProseMirror {
    & p {
      word-break: break-word;
      @apply mb-4;
    }

    & .list-content p {
      @apply mb-0;
    }

    & a,
    & span[data-mention="account"],
    & span[data-mention="group"] {
      @apply text-brand-500;
    }

    & .prosekit-virtual-selection {
      background-color: transparent;
      box-shadow: none;
    }

    & .prosekit-placeholder::before {
      content: attr(data-placeholder);
      @apply absolute pointer-events-none opacity-50;
    }

    & .prosemirror-flat-list {
      @apply last-of-type:!mb-4;
    }
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  /* Markup styles */
  .markup > p,
  .markup > ul,
  .markup > ol,
  .markup > h2,
  .markup > h3,
  .markup > h4,
  .markup > h5,
  .markup > h6 {
    word-break: break-word;
    @apply leading-[26px];
    @apply [&:not(:last-child)]:mb-3;
  }

  .markup ul,
  .full-page-post-markup ul {
    @apply list-disc pl-5;
  }

  .markup ol,
  .full-page-post-markup ol {
    @apply list-decimal pl-4;
  }

  .markup li,
  .full-page-post-markup li {
    @apply mb-1;
  }

  .markup > hr {
    @apply border-gray-200 dark:border-gray-800;
    @apply mb-3;
  }

  .markup > p > img {
    @apply rounded-xl;
  }

  .markup > h1 {
    @apply text-2xl font-bold mb-4;
  }

  .markup > h2 {
    @apply text-xl font-bold;
  }

  .markup > h3 {
    @apply text-lg font-semibold;
  }

  .markup > h4 {
    @apply text-base font-semibold;
  }

  .markup > h5,
  .markup > h6 {
    @apply font-semibold;
  }

  .full-page-post-markup > p,
  .full-page-post-markup ul,
  .full-page-post-markup ol {
    @apply text-[15px] sm:text-[17px];
    @apply !leading-7 sm:leading-[26px];
    @apply [&:not(:last-child)]:mb-3 sm:[&:not(:last-child)]:mb-4;
  }

  .full-page-post-markup > h1 {
    @apply text-center;
  }

  .virtual-divider-list-window {
    @apply [&>div]:divide-y;
    @apply [&>div]:divide-gray-200 dark:[&>div]:divide-gray-800;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .left-dash {
    position: relative;
    padding: 1px;
  }

  .left-dash::after {
    position: absolute;
    inset: 0 auto 0 0;
    width: 1px;
    content: "";
    background-color: currentColor;
    mask:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='100%25'%3E%3Cline x1='0' y1='0' x2='0' y2='100%25' stroke='black' stroke-width='1' stroke-dasharray='6%2c8' stroke-linecap='square'/%3E%3C/svg%3E")
      no-repeat right top / 1px 100%;
  }

  .center {
    @apply items-center justify-center;
  }

  .touch-callout-none {
    -webkit-touch-callout: none;
  }

  .search {
    anchor-name: --search;
  }

  .suggestions {
    position: fixed;
    top: anchor(--search bottom);
    margin-top: 0.25rem;
  }

  .tweet {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%231da1f2%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: bottom 1rem right 1rem;
    background-size: 1.5rem 1.5rem;
  }

  .twitter-tweet {
    @apply text-secondary;
  }

  .twitter-tweet p {
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
    @apply mb-4 text-on-surface;
  }

  .twitter-tweet a:hover {
    @apply text-brand-500 underline;
  }

  .twitter-tweet p a {
    @apply text-brand-500;
  }

  .youtube iframe {
    aspect-ratio: 16 / 9;
    @apply w-full h-auto rounded-xl;
  }

  [data-radix-popper-content-wrapper] {
    @apply z-50!;
  }
}

@utility card-drop-shadow {
  filter: drop-shadow(0 20px 13px rgb(229 231 235 / 0.7))
    drop-shadow(0 8px 5px rgb(229 231 235 / 0.5));
  @variant dark {
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.3))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.2));
  }
}
