@import "tailwindcss";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/forms";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sofia-pro: "Sofia Pro", sans-serif;
  --animate-shimmer: shimmer 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --vvh: 100vh;

  /* Brand Colors */
  --color-brand-50: #f0faff;
  --color-brand-300: #7cd9fd;
  --color-brand-400: #008dc9;
  --color-brand-500: #0170a3;
  --color-brand-600: #055e87;
  --color-brand-700: #0b4e6f;

  --color-surface: #f9fafb;
  --color-on-surface: #000000;
  --color-secondary: #6a7282;
  --color-border: #e5e7eb;
  --color-card: #ffffff;
  --color-accent: oklch(87.2% 0.01 258.338 / 0.2);
}

.dark {
  --color-brand-50: #b9e9fe;
  --color-brand-300: #7bd9fe;
  --color-brand-400: #36c6fa;
  --color-brand-500: #0bafec;
  --color-brand-600: #008dc9;
  --color-brand-700: #0170a3;

  --color-surface: #030712;
  --color-on-surface: #f9fafb;
  --color-secondary: #d1d5dc;
  --color-border: #1e2939;
  --color-card: #101828;
}

@keyframes shimmer {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@layer base {
  html {
    @apply font-sofia-pro text-on-surface;
    @apply overflow-y-scroll;
  }

  body {
    @apply bg-surface;
  }
}

@layer components {
  .shimmer {
    @apply animate-shimmer;
    @apply bg-gray-300;
    @apply dark:bg-gray-600;
  }

  .menu-item {
    @apply m-2 block cursor-pointer rounded-lg px-2 py-1.5 text-sm text-gray-700 dark:text-gray-200;
  }

  .linkify a {
    @apply text-brand-500;
    @apply hover:text-brand-600 dark:hover:text-brand-500;
  }

  ::-webkit-file-upload-button {
    @apply mr-2 cursor-pointer rounded-l-xl border-0 px-3 py-2;
    @apply bg-gray-200 dark:bg-gray-900;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .label {
    @apply mb-1 font-medium text-gray-800 dark:text-gray-200;
  }

  .dropdown-active {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .focusable-dropdown-item[data-focused] {
    @apply bg-gray-200 dark:bg-gray-700;
  }

  .divider {
    @apply border-b border-border;
  }

  .ProseMirror {
    & p {
      word-break: break-word;
      @apply mb-4;
    }

    & .list-content p {
      @apply mb-0;
    }

    & a,
    & span[data-mention="account"],
    & span[data-mention="group"] {
      @apply text-brand-500;
    }

    & .prosekit-virtual-selection {
      background-color: transparent;
      box-shadow: none;
    }

    & .prosekit-placeholder::before {
      content: attr(data-placeholder);
      @apply absolute pointer-events-none opacity-50;
    }

    & .prosemirror-flat-list {
      @apply last-of-type:!mb-4;
    }
  }

  /** CSS overrides for plyr audio **/
  .plyr__progress__buffer {
    @apply !bg-white;
  }

  .plyr--audio .plyr__controls {
    @apply !bg-transparent !text-white;
  }

  .plyr--audio .plyr__control {
    @apply hover:!bg-transparent;
  }

  .plyr--audio.plyr--full-ui input[type="range"] {
    @apply !text-white;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  /* Markup styles */
  .markup > p,
  .markup > ul,
  .markup > ol {
    word-break: break-word;
    @apply leading-[26px];
    @apply [&:not(:last-child)]:mb-3;
  }

  .markup ul,
  .full-page-post-markup ul {
    @apply list-disc pl-5;
  }

  .markup ol,
  .full-page-post-markup ol {
    @apply list-decimal pl-4;
  }

  .markup li,
  .full-page-post-markup li {
    @apply mb-1;
  }

  .markup > hr {
    @apply border-gray-200 dark:border-gray-800;
    @apply mb-3;
  }

  .full-page-post-markup > p,
  .full-page-post-markup ul,
  .full-page-post-markup ol {
    @apply text-[15px] sm:text-[17px];
    @apply !leading-7 sm:leading-[26px];
    @apply [&:not(:last-child)]:mb-3 sm:[&:not(:last-child)]:mb-4;
  }

  .virtual-divider-list-window {
    @apply [&>div]:divide-y;
    @apply [&>div]:divide-gray-200 dark:[&>div]:divide-gray-800;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .left-dash {
    position: relative;
    padding: 1px;
  }

  .left-dash::after {
    position: absolute;
    inset: 0 auto 0 0;
    width: 1px;
    content: "";
    background-color: currentColor;
    mask:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='100%25'%3E%3Cline x1='0' y1='0' x2='0' y2='100%25' stroke='black' stroke-width='1' stroke-dasharray='6%2c8' stroke-linecap='square'/%3E%3C/svg%3E")
      no-repeat right top / 1px 100%;
  }

  .center {
    @apply items-center justify-center;
  }

  .waves-0 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%230485bb%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%2342a3cc%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23089ad4%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%2345b3de%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%230bafec%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%2348c3f0%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2357c4f2%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%2381d2f5%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23a3d8f9%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23bae1fa%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23efedff%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f3f1ff%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%230170a3%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c51.067-9.137 102.135-18.273 153-17 50.865 1.273 101.528 12.956 156 20 54.472 7.044 112.752 9.448 156 11 43.248 1.552 71.464 2.25 119 0s114.391-7.448 167-10c52.609-2.552 90.972-2.456 143 0 52.028 2.456 117.722 7.273 171 7 53.278-.273 94.139-5.637 175-11l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c54.94 9.252 109.881 18.505 155 13 45.119-5.505 80.416-25.767 131-30 50.584-4.233 116.454 7.562 173 14 56.546 6.438 103.768 7.518 152 9 48.232 1.482 97.475 3.366 148 2 50.525-1.366 102.334-5.983 151-6 48.666-.017 94.19 4.567 142 5 47.81.433 97.905-3.283 188-7l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c49.533.772 99.066 1.544 148 5s97.27 9.595 149 10c51.73.405 106.857-4.926 153-9s83.304-6.893 137-6c53.696.893 123.929 5.497 177 8s88.98 2.905 137 3c48.02.095 108.148-.116 160-2 51.852-1.884 95.426-5.442 179-9l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c40.96-.683 81.919-1.366 134 3s115.284 13.782 167 14c51.716.218 91.947-8.763 137-13s94.929-3.732 147 1 106.339 13.691 163 14c56.661.309 115.716-8.032 165-17 49.284-8.968 88.795-18.562 135-19 46.205-.438 99.102 8.281 192 17l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c48.92 5.287 97.84 10.573 145 15s92.563 7.994 140 1 96.908-24.547 152-30c55.092-5.453 115.804 1.196 166 1 50.196-.196 89.877-7.238 142-2 52.123 5.238 116.687 22.756 167 28s86.375-1.788 132-6 100.812-5.606 196-7l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c48.893 6.802 97.786 13.603 148 14 50.214.397 101.75-5.612 154-10s105.214-7.155 156-8c50.786-.845 99.393.232 146 5s91.214 13.226 141 13c49.786-.226 104.75-9.138 154-10 49.25-.862 92.786 6.325 142 7 49.214.675 104.107-5.163 199-11l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .waves-1 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2311525a%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%234c7d83%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23006e7c%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%233f929c%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23008c9e%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%233fa8b6%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2300a7bd%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%233fbdcd%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2300c2dc%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%233fd1e4%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2300dffc%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%233fe7fc%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23343838%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c45.881 4.208 91.763 8.416 141 14 49.237 5.584 101.83 12.545 151 3s94.918-35.596 146-35c51.082.596 107.5 27.84 155 35s86.082-5.761 140-9c53.918-3.239 123.17 3.205 174 6s83.237 1.941 129-1c45.763-2.941 104.881-7.97 204-13l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c47.816 8.86 95.632 17.72 149 14 53.368-3.72 112.289-20.022 165-25 52.711-4.978 99.214 1.367 148 0s99.857-10.446 143-4 78.358 28.419 132 26c53.642-2.419 125.711-29.228 176-30 50.289-.772 78.797 24.494 123 32s104.102-2.747 204-13l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c57.483-11.17 114.966-22.34 163-20 48.034 2.34 86.617 18.193 134 20 47.383 1.807 103.564-10.432 158-11 54.436-.568 107.125 10.536 156 17s93.936 8.29 143 8c49.064-.29 102.133-2.693 155-4 52.867-1.307 105.534-1.516 154-3 48.466-1.484 92.733-4.242 177-7l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c54.25-8.97 108.5-17.94 158-17 49.5.94 94.253 11.79 141 21s95.49 16.78 150 9c54.51-7.78 114.786-30.91 160-33s75.367 16.863 128 18c52.633 1.137 127.747-15.54 179-17 51.253-1.46 78.644 12.297 122 18 43.356 5.703 102.678 3.351 202 1l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c40.002-8.336 80.004-16.673 133-13 52.996 3.673 118.987 19.354 174 18 55.013-1.354 99.048-19.745 145-23 45.952-3.255 93.821 8.625 147 11s111.666-4.755 163-1 95.513 18.396 139 20c43.487 1.604 86.282-9.827 136-14s106.359-1.086 203 2l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c45.247-9.755 90.493-19.51 141-18 50.507 1.51 106.273 14.284 160 15 53.727.716 105.414-10.624 152-12 46.586-1.376 88.071 7.214 135 6 46.929-1.214 99.3-12.233 150-8 50.7 4.233 99.727 23.716 152 28 52.273 4.284 107.792-6.633 160-11s101.104-2.183 190 0l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .waves-2 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23625662%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23898089%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23886c75%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23a59097%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23b38184%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23c6a0a2%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23dca395%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23e4baaf%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f2c4a9%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f5d2be%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f7e4be%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f9eace%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23413e4a%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c52.438 6.865 104.876 13.73 158 7 53.124-6.73 106.933-27.053 157-25 50.067 2.053 96.392 26.482 143 25 46.608-1.482 93.5-28.875 142-27s98.608 33.018 149 38c50.392 4.982 101.067-16.197 149-18 47.933-1.803 93.124 15.77 143 19 49.876 3.23 104.438-7.885 199-19l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c52.182-8.34 104.363-16.68 151-14 46.637 2.68 87.73 16.379 138 21 50.27 4.621 109.72.164 158-5s85.393-11.036 137-12c51.607-.964 117.71 2.979 174 2 56.29-.979 102.77-6.879 152-4 49.23 2.879 101.208 14.537 150 18 48.792 3.463 94.396-1.268 180-6l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c57.972 8.935 115.944 17.87 163 17 47.056-.87 83.197-11.543 134-12 50.803-.457 116.268 9.3 164 13 47.732 3.7 77.732 1.34 129-7s123.804-22.658 174-22c50.196.658 78.053 16.293 127 16 48.947-.293 118.985-16.512 174-20 55.015-3.488 95.008 5.756 175 15l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c45.683-8.57 91.365-17.139 142-17 50.635.139 106.222 8.986 156 8 49.778-.986 93.748-11.804 139-11 45.252.804 91.786 13.232 147 14 55.214.768 119.109-10.124 172-12 52.891-1.876 94.778 5.264 139 11 44.222 5.736 90.778 10.067 142 11 51.222.933 107.111-1.534 203-4l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c43.56-.353 87.119-.707 137 1 49.881 1.707 106.084 5.473 159 5 52.916-.473 102.546-5.185 154-6 51.454-.815 104.732 2.268 153-2s91.525-15.886 145-18c53.475-2.114 117.166 5.277 166 15 48.834 9.723 82.81 21.778 128 23 45.19 1.222 101.595-8.389 198-18l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c55.46 6.638 110.92 13.277 159 11 48.08-2.277 88.78-13.47 135-20 46.22-6.53 97.957-8.4 154-1 56.043 7.4 116.393 24.071 164 29 47.607 4.929 82.472-1.885 128-7 45.528-5.115 101.72-8.53 156-9 54.28-.47 106.652 2.009 157 2 50.348-.009 98.674-2.504 187-5l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .waves-3 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%233e3248%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%236e6575%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%234d5c66%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%2379848c%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2364908a%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%238aaba7%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23bcb79b%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23ccc9b4%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23df9583%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23e7afa2%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23cc2a41%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23d85f70%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23351330%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c39.679-8.255 79.357-16.51 133-10 53.643 6.51 121.25 27.787 171 28 49.75.213 81.643-20.639 129-28 47.357-7.361 110.179-1.232 164 2s98.643 3.567 147 11 100.25 21.963 155 16c54.75-5.963 112.357-32.418 163-39 50.643-6.582 94.321 6.709 178 20l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c43.171 4.188 86.342 8.376 139 3 52.658-5.376 114.803-20.316 170-15 55.197 5.316 103.447 30.887 153 32 49.553 1.113 100.41-22.232 147-27 46.59-4.768 88.91 9.042 142 14s116.947 1.066 165 0 80.3.696 125 0 101.85-3.848 199-7l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c47.092-.816 94.184-1.632 143-1 48.816.632 99.357 2.713 152 7s107.388 10.782 159 13c51.612 2.218 100.09.16 145-9s86.254-25.425 136-27c49.746-1.575 107.893 11.537 160 12 52.107.463 98.173-11.725 148-13 49.827-1.275 103.413 8.362 197 18l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c45.62-10.71 91.239-21.419 139-18 47.761 3.419 97.665 20.965 146 31 48.335 10.035 95.102 12.558 149 4 53.898-8.558 114.929-28.196 166-29 51.071-.804 92.184 17.228 144 25 51.816 7.772 114.335 5.285 170-3 55.665-8.285 104.476-22.367 151-25 46.524-2.633 90.762 6.184 175 15l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c43.16-8.893 86.321-17.786 136-20 49.679-2.214 105.875 2.253 156 9s94.179 15.776 146 15c51.821-.776 111.41-11.357 167-13 55.59-1.643 107.179 5.652 154 11s88.875 8.747 134 10c45.125 1.253 93.321.358 145-2s106.84-6.179 202-10l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c42.728 5.96 85.456 11.92 135 16s105.905 6.28 165 2 120.926-15.043 166-18c45.074-2.957 73.393 1.893 124 6s123.503 7.472 174 0 78.595-25.78 121-25c42.405.78 99.116 20.652 154 27 54.884 6.348 107.942-.826 201-8l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .waves-4 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23152054%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%234f577e%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%230c4159%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23487082%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%230d6759%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23498d82%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23569a2d%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%2380b361%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2387b92f%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23a5ca63%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23a0c55f%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23b7d387%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%232a044a%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c56.628.094 113.255.189 162-5 48.745-5.189 89.607-15.66 139-12s107.317 21.45 157 20c49.683-1.45 91.125-22.143 138-18 46.875 4.143 99.183 33.12 152 34 52.817.88 106.143-26.34 156-37s96.245-4.76 145 1c48.755 5.76 99.878 11.38 191 17l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c56.026-4.043 112.052-8.086 165-4 52.948 4.086 102.82 16.3 149 21 46.18 4.7 88.67 1.885 133-6s90.5-20.84 139-28 99.33-8.528 155-3c55.67 5.528 116.18 17.95 166 23 49.82 5.05 88.948 2.729 136 1 47.052-1.729 102.026-2.864 197-4l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c58.195 8.97 116.39 17.939 166 14s90.638-20.785 134-28c43.362-7.215 89.06-4.8 144-1s119.125 8.982 172 9c52.875.018 94.44-5.13 143-2s104.112 14.535 156 19c51.888 4.465 100.11 1.99 147-1s92.445-6.495 178-10l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c41.965-4.506 83.93-9.013 133-4 49.07 5.013 105.244 19.544 156 23 50.756 3.456 96.095-4.163 153-7 56.905-2.837 125.375-.893 173 3s74.405 9.734 124 3 122.006-26.044 172-31c49.994-4.956 77.57 4.441 122 9 44.43 4.559 105.715 4.28 207 4l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c55.96 5.986 111.92 11.972 161 11 49.08-.972 91.278-8.902 137-12 45.722-3.098 94.966-1.364 142-1 47.034.364 91.857-.643 145 2s114.605 8.935 165 8c50.395-.935 89.722-9.098 135-8 45.278 1.098 96.508 11.457 150 13 53.492 1.543 109.246-5.728 205-13l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c44.618-1.767 89.236-3.534 137-6 47.764-2.466 98.674-5.633 152-2 53.326 3.633 109.068 14.064 158 21s91.054 10.375 138 4 98.718-22.564 155-22c56.282.564 117.076 17.883 166 19 48.924 1.117 85.978-13.966 133-19 47.022-5.034 104.01-.017 201 5l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .waves-5 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23510108%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%237c4045%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%237e0104%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%239e4042%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23a30006%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23ba3f44%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23b81103%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23c94c42%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23d12501%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23dc5b40%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f03c02%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f36c41%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%231c0113%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c53.716 5.648 107.432 11.296 159 12 51.568.704 100.987-3.537 153-9 52.013-5.463 106.62-12.147 150-8 43.38 4.147 75.536 19.125 126 22s119.238-6.353 175-11 98.513-4.713 143-4c44.487.713 90.71 2.204 140 2 49.29-.204 101.645-2.102 194-4l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c53.111-3.17 106.222-6.342 153-1 46.778 5.342 87.222 19.196 138 20 50.778.804 111.891-11.442 166-16 54.109-4.558 101.214-1.429 148 2 46.786 3.429 93.252 7.156 145 4 51.748-3.156 108.778-13.196 156-13 47.222.196 84.635 10.627 132 13 47.365 2.373 104.683-3.314 202-9l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c44.966-7.928 89.931-15.856 143-12s114.241 19.496 161 25c46.759 5.504 79.105.872 133-4 53.895-4.872 129.34-9.982 179-13 49.66-3.018 73.538-3.943 118-1s109.509 9.754 166 15 104.426 8.927 153 7c48.574-1.927 97.787-9.464 187-17l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c51.986-5.928 103.972-11.855 159-16 55.028-4.145 113.097-6.506 156-3 42.903 3.506 70.641 12.881 119 14 48.359 1.119 117.34-6.018 169-4s86.002 13.19 138 18c51.998 4.81 121.653 3.256 174-3 52.347-6.256 87.385-17.216 132-19 44.615-1.784 98.808 5.608 193 13l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c57.686 5.831 115.372 11.663 165 14 49.628 2.337 91.197 1.18 141 0s107.84-2.384 160-1 98.446 5.357 142-3 84.375-29.044 133-29c48.625.044 105.053 20.82 157 29s99.413 3.766 149 0 101.293-6.883 193-10l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c49.414 6.763 98.828 13.527 152 15 53.172 1.473 110.1-2.344 155-4 44.9-1.656 77.77-1.15 130-6 52.23-4.85 123.821-15.054 174-21s78.945-7.635 127 0c48.055 7.635 115.4 24.594 170 23 54.6-1.594 96.457-21.741 143-26 46.543-4.259 97.771 7.37 189 19l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .waves-6 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23782244%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23995972%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23ad414c%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23c17078%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23e4844a%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23eaa277%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23e7ab52%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23edc07d%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23e6d27e%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23ecdd9e%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23e2f7ce%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23e9f9da%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23452632%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c49.083-11.476 98.167-22.952 151-19 52.833 3.952 109.416 23.332 164 26 54.584 2.668 107.168-11.378 150-17 42.832-5.622 75.91-2.821 119-1 43.09 1.821 96.189 2.663 150 4 53.811 1.337 108.334 3.168 159 1s97.476-8.334 148-8c50.524.334 104.762 7.167 199 14l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c46.664-7.982 93.329-15.964 140-18 46.671-2.036 93.35 1.874 144 3 50.65 1.126 105.274-.53 157 6s100.554 21.25 156 22 117.511-12.47 168-14c50.489-1.53 89.4 8.626 139 14 49.6 5.374 109.885 5.964 161 3 51.115-2.964 93.057-9.482 175-16l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c41.695 5.801 83.39 11.602 134 12 50.61.398 110.138-4.607 165-9 54.862-4.393 105.06-8.174 153-5 47.94 3.174 93.625 13.304 143 10 49.375-3.304 102.44-20.04 152-18 49.56 2.04 95.612 22.857 146 22 50.388-.857 105.11-23.388 157-29 51.89-5.612 100.945 5.694 190 17l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c48.987-2.744 97.973-5.487 149-3s104.093 10.205 158 12 108.655-2.332 155-9 84.286-15.875 128-19 93.202-.168 148 0 114.907-2.455 165 4 90.17 21.987 138 26c47.83 4.013 103.415-3.494 199-11l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c48.335 11.427 96.67 22.854 149 18 52.33-4.854 108.656-25.99 161-36 52.344-10.01 100.707-8.895 148-3 47.293 5.895 93.518 16.571 142 22 48.482 5.429 99.222 5.61 150 6 50.778.39 101.594.99 148 1 46.406.01 88.402-.568 138-2s106.8-3.716 204-6l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c53.771-10.388 107.543-20.777 155-16 47.457 4.777 88.6 24.718 138 33 49.4 8.282 107.055 4.905 159 3 51.945-1.905 98.179-2.34 142-2 43.821.34 85.23 1.452 142 0 56.77-1.452 128.9-5.468 178-13 49.1-7.532 75.172-18.58 119-20 43.828-1.42 105.414 6.79 207 15l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .waves-7 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23400040%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%236f3f6f%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23500848%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%237b4575%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23601848%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23875175%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23a03848%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23b76975%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23d05646%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23db8074%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f07241%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f39570%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23300030%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c40.927-6.837 81.855-13.675 135-13 53.145.675 118.508 8.86 168 10 49.492 1.14 83.114-4.769 133-8 49.886-3.231 116.036-3.786 174 0s107.743 11.912 152 20c44.257 8.088 82.992 16.14 134 9 51.008-7.14 114.288-29.468 167-35s94.856 5.734 177 17l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c60.185 10.135 120.37 20.27 164 20 43.63-.27 70.707-10.942 122-13 51.293-2.058 126.8 4.499 179 5 52.2.501 81.09-5.054 126-10s105.842-9.285 157-5 92.543 17.192 139 20c46.457 2.808 97.988-4.483 151-9s107.506-6.258 202-8l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c44.693 3.706 89.386 7.411 143 7 53.614-.411 116.148-4.94 170-6 53.852-1.06 99.021 1.346 147 2 47.979.654 98.768-.446 151-2s105.908-3.56 150-8c44.092-4.44 78.602-11.31 130-6 51.398 5.31 119.685 22.803 174 27 54.315 4.197 94.657-4.902 175-14l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c50.685-7.506 101.37-15.012 156-14 54.63 1.012 113.204 10.541 160 14 46.796 3.459 81.815.847 130-1s109.536-2.929 157 0 81.042 9.867 132 13c50.958 3.133 119.296 2.459 171 1 51.704-1.459 86.772-3.703 133-6 46.228-2.297 103.614-4.649 201-7l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c43.17 11.167 86.34 22.334 138 16s111.812-30.17 165-33c53.188-2.83 99.413 15.346 148 17s99.536-13.214 146-14c46.464-.786 88.444 12.511 138 12 49.556-.511 106.688-14.83 161-12s105.803 22.809 156 28c50.197 5.191 99.098-4.404 188-14l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c56.556-6.885 113.112-13.77 163-15 49.888-1.23 93.11 3.193 140 2s97.45-8.004 143-2 86.09 24.821 138 27c51.91 2.179 115.193-12.282 173-11s110.14 18.307 158 15c47.86-3.307 91.246-26.945 138-33 46.754-6.055 96.877 5.472 187 17l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .waves-8 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2332241b%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23655a54%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23672934%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%238d5e66%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23b3204d%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23c65779%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23c78b75%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23d5a897%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23dad2ab%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23e3ddc0%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23edf6ee%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f1f8f2%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23151101%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c52.517 10.607 105.034 21.213 151 17 45.966-4.213 85.381-23.246 135-24 49.619-.754 109.44 16.771 160 24 50.56 7.229 91.857 4.16 142 1s109.131-6.414 160-10c50.869-3.586 93.619-7.504 143-10 49.381-2.496 105.395-3.57 158-3 52.605.57 101.803 2.785 191 5l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c54.583 4.297 109.167 8.593 155 8s82.916-6.076 129-8c46.084-1.924 101.168-.289 155-3 53.832-2.711 106.41-9.768 157-5 50.59 4.768 99.189 21.36 148 25 48.811 3.64 97.834-5.674 148-7 50.166-1.326 101.476 5.335 153 5 51.524-.335 103.262-7.668 195-15l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c46.721 1.61 93.443 3.22 142 6s98.95 6.73 153 7c54.05.27 111.758-3.138 161-1 49.242 2.138 90.018 9.821 141 8 50.982-1.821 112.17-13.148 165-21s97.3-12.23 141-13c43.7-.77 86.628 2.066 136 5s105.186 5.967 201 9l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c43.57 4.503 87.14 9.006 142 4s121.012-19.522 174-17c52.988 2.522 92.814 22.081 135 24 42.186 1.919 86.732-13.804 134-19s97.257.133 154-1c56.743-1.133 120.238-8.728 170-8 49.762.728 85.789 9.78 132 14 46.211 4.22 102.605 3.61 199 3l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c53.528 7.272 107.056 14.543 156 14 48.944-.543 93.304-8.9 141-8 47.696.9 98.728 11.06 149 13 50.272 1.94 99.786-4.34 148-11s95.13-13.703 143-10c47.87 3.703 96.696 18.15 150 15 53.304-3.15 111.087-23.9 164-29 52.913-5.1 100.957 5.45 189 16l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c56.843.994 113.687 1.987 158 4s76.097 5.045 127 8c50.903 2.955 120.927 5.832 180 2 59.073-3.832 107.196-14.375 151-21s83.288-9.332 132-3c48.712 6.332 106.653 21.705 158 20 51.347-1.705 96.099-20.487 144-25 47.901-4.513 98.95 5.244 190 15l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .waves-9 {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221200%22 height=%22630%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%235a3838%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23836969%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%233f3232%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%236f6565%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%232a2829%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%235f5d5e%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23526466%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%237d8a8c%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23829ea0%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23a1b6b7%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23b9d7d9%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23cae1e2%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%237b3b3b%22 d=%22M0 0h1200v630H0z%22%2F%3E%3Cpath d=%22M0 90c49.274 3.295 98.548 6.59 148 8 49.452 1.41 99.082.932 151-2 51.918-2.932 106.122-8.318 158-13s101.429-8.66 146-2 84.163 23.96 138 27c53.837 3.04 121.918-8.182 173-10 51.082-1.818 85.166 5.766 130 6 44.834.234 100.417-6.883 196-14l-40 540H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 180c52.91-2.788 105.821-5.577 154-9s91.626-7.482 140-5c48.374 2.482 101.674 11.504 155 11 53.326-.504 106.679-10.536 160-6s106.612 23.638 155 25c48.388 1.362 91.874-15.018 135-17 43.126-1.982 85.893 10.434 136 13 50.107 2.566 107.553-4.717 205-12l-40 450H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 270c41.78 3.563 83.56 7.126 137 0s118.537-24.94 176-18c57.463 6.94 107.29 38.637 152 37 44.71-1.637 84.304-36.607 137-38 52.696-1.393 118.496 30.792 164 33 45.504 2.208 70.713-25.56 119-33 48.287-7.44 119.654 5.446 176 12 56.346 6.554 97.673 6.777 179 7l-40 360H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 360c48.112-.086 96.225-.173 149-4 52.775-3.827 110.214-11.396 155-10 44.786 1.396 76.92 11.755 130 14 53.08 2.245 127.107-3.625 178 1s78.652 19.745 121 18c42.348-1.745 99.286-20.354 153-30s104.204-10.327 156-7c51.796 3.327 104.898 10.664 198 18l-40 270H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 450c49.186 6.496 98.372 12.992 151 8 52.628-4.992 108.698-21.472 156-28 47.302-6.528 85.834-3.105 134 4s105.964 17.893 157 20c51.036 2.107 95.309-4.466 144-10s101.802-10.028 154-9c52.198 1.028 103.485 7.58 154 11s100.257 3.71 190 4l-40 180H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 540c56.85-4.758 113.702-9.516 159-11s79.044.307 125 0 104.123-2.71 158-1c53.877 1.71 103.464 7.536 151 9 47.536 1.464 93.02-1.432 147 2 53.98 3.432 116.456 13.193 170 15 53.544 1.807 98.155-4.34 145-8s95.922-4.83 185-6l-40 90H0Z%22 fill=%22url(%23f)%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }

  .touch-callout-none {
    -webkit-touch-callout: none;
  }
}
